post_install_script = '''
#!/bin/sh
set -e

COUIC_CONF="/etc/couic/couic.toml"
COUIC_CONF_PERMS=640
COUIC_HOME="/var/lib/couic/"
COUIC_BIN="/usr/sbin/couic"
COUIC_USER="couic"

create_user() {
    if id ${COUIC_USER} > /dev/null 2>&1; then return; fi
    useradd --system --home-dir "${COUIC_HOME}" --create-home --user-group ${COUIC_USER}
}

set_permissions() {
    # Ensure that the config file has the correct ownership
    chown root:${COUIC_USER} ${COUIC_CONF}
    chown root:${COUIC_USER} ${COUIC_BIN}
    # Ensure that the config file has the correct permissions
    chmod ${COUIC_CONF_PERMS} ${COUIC_CONF}
}

create_directories() {
    for dir in \
        /run/couic \
        /var/log/couic \
        /var/lib/couic/sets \
        /var/lib/couic/sets/drop \
        /var/lib/couic/sets/ignore \
        /var/lib/couic/rbac \
        /var/lib/couic/rbac/clients; do
        if [ ! -d "$dir" ]; then
            mkdir -p "$dir"
            chown ${COUIC_USER}:${COUIC_USER} "$dir"
            chmod 0755 "$dir"
        fi
    done
}

if [ $1 -eq 1 ] ; then
    # Initial installation
    create_user
    set_permissions
    create_directories
fi
'''

post_uninstall_script = '''
#!/bin/bash -e
# Script based on the RPM %systemd_postun scriptlet. See:
#   - https://docs.fedoraproject.org/en-US/packaging-guidelines/Scriptlets/#_systemd
#   - https://cgit.freedesktop.org/systemd/systemd/tree/src/core/macros.systemd.in

COUIC_DIRS="/etc/couic /run/couic /var/lib/couic /var/log/couic"

for dir in ${COUIC_DIRS}; do
    if [ -d "${dir}" ]; then
        rm -rf "${dir}"
    fi
done

systemctl daemon-reload >/dev/null 2>&1 || :
if [ $1 -ge 1 ] ; then
    systemctl try-restart couic.service >/dev/null 2>&1 || :
fi
'''
